.edit-profile-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .edit-profile-birthday {
    cursor: pointer;
    input {
      background: none;
      border: none;
      font-size: 14px;
      color: #000;
      width: 100%;
    }
    input:focus {
      outline: none;
    }
  }
}
.edit-profile-field-label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.edit-profile-field-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-view-box {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 14px 16px;
  font-size: 14px;
  color: #00000050;
  min-height: 48px;
  display: flex;
  align-items: center;
  position: relative;
}
.about-view-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
}
.edit-profile-edit-icon-about {
  position: absolute;
  bottom: 14px;
  right: 14px;
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.edit-profile-edit-icon-about:hover {
  color: #000;
}
