.dashboard-layout{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dashboard-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 14px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.dashboard-head .dashboard-header-title{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.content{
    width: 100%;
    height: calc(100vh - 56px - 74px);
    overflow-y: auto;
    padding: 20px;

    /* scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch; */
}

.content .avatar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 24px;
}

.content .avatar-content .avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content .avatar-content .avatar .avatar-image{
    width: 200px;
    height: 200px;
    border: 10px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
}

.content .avatar-content .avatar .percentage-content{
    position: absolute;
    bottom: 0;
    padding: 12px 20px;
    background-color: blue;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.content .avatar-content .avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.content .avatar-content .avatar-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.content .avatar-content .avatar-name-content h6{
    text-align: end;
    font-weight: 400;
}

.content .content-body{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 column-gap: 28px;
 row-gap: 32px;
}

.content .content-body .body-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content .content-body .body-btn .body-btn-icon{
    min-width: 74px;
    min-height: 74px;
    border-radius: 50%;
    background-color: #f5f5f5;
    box-shadow: 0px 10px 30px 0px #00000029;
    display: flex;
    align-items: center;
    justify-content: center;
}




.content::-webkit-scrollbar{
    display: none;
}


/* .reel {
    height: calc(100vh - 56px - 74px);
    width: 100%;

    scroll-snap-align: start;
    scroll-snap-stop: always;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    font-weight: bold;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
} */

.dashboard-footer{
    display: grid;
    grid-template-columns: repeat(5, minmax(60px, 1fr));
    /* place-content: center; */
    place-items: center;
    width: 100%;
    height: 74px;
    background-color: #fff;
    padding: 8px 16px 16px 16px;
    border-top: 1px solid #e0e0e0;
}