.discover-screen-container {
    /* overflow-y: auto;
    scroll-snap-type: y mandatory; */

    .discover-screen{
        position: absolute;
        width: 100%;
        transition: transform 0.6s ease, opacity 0.6s ease; 
  will-change: transform, opacity;
        height: calc(100vh - 56px - 74px);
        /* scroll-snap-align: start;
        scroll-snap-stop: always;
        scroll-behavior: smoo   th; */
        margin-bottom: 10px;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        place-content: end;
        cursor: grab;
      }
      
      /* Disable transition while dragging */
      .discover-screen.dragging {
        transition: none;
      }
    
      .left {
        transform: translateX(-150%) rotate(-20deg);
        opacity: 0;
      }
      
      .right {
        transform: translateX(150%) rotate(20deg);
        opacity: 0;
      }

    .discover-screen-info-container{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-items: end;
        gap:6px;
        padding :0 0 0 10px;
        h2{
            font-size: 22px;
            font-weight: 600;
            line-height: 150%;
            color: #000;
        }
        h6{
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 16px;
            line-height: 100%;
            font-weight: 400;
            color: #000;
        }
    }

    .discover-screen-action-btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px; 
        padding:10px 0 20px 0;
    }

    .discover-screen-action-btn:first-child, .discover-screen-action-btn:last-child{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .discover-screen-action-btn:nth-child(2){
        width: 68px;
        height: 68px;
        border-radius: 50%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

.discover-screen-container::-webkit-scrollbar {
    display: none;
}

@media (min-width: 480px) {
    .discover-screen-container .discover-screen{
        height: calc(100vh - 56px - 74px - 40px);
    }
}   